@media (max-width:768px){

    nav{
        flex-direction:column;
    }

    main{
        grid-template-columns:1fr;
    }

    .dashboard-container{
        grid-template-columns:1fr;
    }

    .event-container{
        flex-direction:column;
    }

    .card{
        width:100%;
    }

    header h1{
        font-size:24px;
    }

    header{
        flex-direction:column;
        text-align:center;
    }

    #themeBtn{
        width:90%;
        margin:15px auto;
        display:block;
    }

    .notification{
        display:flex;
        flex-direction:column;
        align-items:center;
        text-align:center;
        gap:10px;
        padding:12px;
    }

    .notification button{
        width:100%;
    }

    header img{
        width:70px;
        height:auto;
    }
}