@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    main{
        grid-template-columns:1fr;
    }

    .dashboard-container{
        grid-template-columns:1fr;
    }

    .event-container{
        flex-direction:column;
    }

    .card{
        width:100%;
    }

    header h1{
        font-size:24px;
    }

    /* Dark Mode Button */
    #themeBtn{
        width:90%;
        margin:15px auto;
        display:block;
        font-size:16px;
        padding:10px;
    }

    /* Notification Banner */
    .notification{
        flex-direction:column;
        text-align:center;
        gap:10px;
        padding:12px;
    }

    .notification button{
        width:100%;
    }

    /* Logo */
    header img{
        width:70px;
        height:auto;
    }
}